<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock3

## Tự động chấp nhận thoả thuận người dùng

Trong trường hợp bạn sử dụng Vnstock3 trên Google Colab, việc hiển thị thoả thuận người dùng mỗi lần khởi động phiên làm việc có thể khiến bạn phiền lòng, hãy đặt đoạn code này vào notebook để tự động chấp nhận và bỏ qua bước yêu cầu chấp nhận thoả thuận sử dụng.

In [ ]:
import os
if "ACCEPT_TC" not in os.environ:
    os.environ["ACCEPT_TC"] = "tôi đồng ý"

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [2]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock3 import Vnstock

# II. Tìm kiếm mã niêm yết được hỗ trợ bởi MSN

In [15]:
from vnstock3.explorer.msn.listing import Listing
Listing(api_version='20240530').search_symbol_id('USDEUR')

,symbol,symbol_id,exchange_name,exchange_code_mic,short_name,friendly_name,eng_name,description,local_name,locale
0,USDEUR,avyn9c,FOREX,FOREX,US Dollar/Euro FX Cross Rate,US Dollar/Euro FX Cross Rate,US Dollar/Euro FX Cross Rate,,US Dollar/Euro FX Cross Rate,en-us
1,,buc5dm,,LU,UBSLKSS DgtlTransTh USDEURh Qa,UBSLKSS DgtlTransTh USDEURh Qa,UBS (Lux) KSS - Digit Transfn Themes USDEURh Q...,,UBS (Lux) KSS - Digit Transfn Themes USDEURh Q...,lb-lu
2,,buc61h,,LU,UBSLKSS DgtlTransTh USDEURh Pa,UBSLKSS DgtlTransTh USDEURh Pa,UBS (Lux) KSS - Digit Transf Themes USDEURh P-acc,,UBS (Lux) KSS - Digit Transf Themes USDEURh P-acc,lb-lu
3,,c9mnnm,,LU,UBS(L)SS-MultAsstEMDyn EURh Qa,UBS(L)SS-MultAsstEMDyn EURh Qa,UBS (Lux) SS - Multi Asset EM Dynamic (USDEURh...,,UBS (Lux) SS - Multi Asset EM Dynamic (USDEURh...,lb-lu
4,,c9mnqh,,LU,UBS(L)SS-MultAsstEMDyn EURh Pa,UBS(L)SS-MultAsstEMDyn EURh Pa,UBS (Lux) SS - Multi Asset EM Dynamic (USDEURh...,,UBS (Lux) SS - Multi Asset EM Dynamic (USDEURh...,lb-lu
5,,bvhdjc,,LU,UBSLKSS - DgtlTrans Th USD Fd,UBSLKSS - DgtlTrans Th USD Fd,UBS (Lux) KSS - Digit Transf Themes USDEURh F-...,,UBS (Lux) KSS - Digit Transf Themes USDEURh F-...,lb-lu
6,,aslrm7,,LU,UBS(L)ES-LT Thms USDEURh Pa,UBS(L)ES-LT Thms USDEURh Pa,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,lb-lu
7,,aslrjc,,LU,UBS(L)ES-LT Thms USDEURh Qa,UBS(L)ES-LT Thms USDEURh Qa,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,,UBS (Lux) Eq SICAV-Long Term Themes (USD)(EURh...,lb-lu
8,,c98nxm,,LU,UBS L Eq S-USA Gr USDEURh IA1a,UBS L Eq S-USA Gr USDEURh IA1a,UBS (Lux) Eq S - USA Growth (USD) (EURh) IA1-acc,,UBS (Lux) Eq S - USA Growth (USD) (EURh) IA1-acc,lb-lu
9,,atpn4c,,LU,UBS L EqS-GlEM Opp USDEUR IA3d,UBS L EqS-GlEM Opp USDEUR IA3d,UBS (Lux) Eq SICAV - Gl EM Oppty (USD)(EUR) IA...,,UBS (Lux) Eq SICAV - Gl EM Oppty (USD)(EUR) IA...,lb-lu

# III. Truy xuất giá lịch sử: FX, Crypto, Index

## 3.1. Truy xuất theo mã symbol

### Forex

In [10]:
from vnstock3 import Vnstock
fx = Vnstock().fx(symbol='JPYVND', source='MSN')
df = fx.quote.history(start='2024-02-28', end='2024-05-25', interval='1D')
df

         time    open    high     low   close
0  2024-02-28  163.60  163.88  163.20  163.37
1  2024-02-29  163.37  165.13  163.36  164.28
2  2024-03-01  164.28  164.30  163.45  164.12
3  2024-03-04  164.15  164.43  163.76  163.92
4  2024-03-05  163.92  164.92  163.76  164.55
..        ...     ...     ...     ...     ...
58 2024-05-20  163.54  163.68  162.80  162.87
59 2024-05-21  162.87  163.37  162.47  163.02
60 2024-05-22  163.00  163.09  162.34  162.40
61 2024-05-23  162.40  162.70  162.01  162.28
62 2024-05-24  162.27  162.37  162.03  162.18

[63 rows x 5 columns]

### Crypto

In [9]:
crypto = Vnstock().crypto(symbol='BTC', source='MSN')
df = crypto.quote.history(start='2023-01-01', end='2024-12-31', interval='1D')
df

,time,open,high,low,close,volume
151,2023-01-07,4.283199e+08,4.322763e+08,4.252658e+08,4.312581e+08,366683584499596
152,2023-02-06,5.935724e+08,5.958922e+08,5.810944e+08,5.839921e+08,497714840676542
153,2023-03-08,5.705765e+08,5.730975e+08,5.599665e+08,5.652709e+08,579153104068996
154,2023-04-07,7.167778e+08,7.168581e+08,7.056740e+08,7.134429e+08,352033870634323
155,2023-05-07,7.514686e+08,7.586240e+08,7.242505e+08,7.353336e+08,404848769216116
156,2023-06-06,6.900119e+08,6.901868e+08,6.473251e+08,6.553369e+08,547298164926451
157,2023-07-06,7.830108e+08,7.855193e+08,7.689396e+08,7.762804e+08,317532470791752
158,2023-08-05,7.421963e+08,7.454449e+08,7.348429e+08,7.396449e+08,306212121285052
159,2023-09-04,6.581194e+08,6.636571e+08,6.567853e+08,6.606658e+08,228006623864865
160,2023-10-04,6.998099e+08,7.038534e+08,6.923751e+08,6.978187e+08,290214792906849
161,2023-11-03,9.016337e+08,9.138008e+08,8.751761e+08,8.888289e+08,534193153365211
162,2023-12-03,9.842552e+08,1.009432e+09,9.833220e+08,1.004278e+09,395185865967753
163,2024-01-02,1.075609e+09,1.123823e+09,1.073949e+09,1.123617e+09,468782331596280
164,2024-02-01,1.092553e+09,1.112171e+09,1.076085e+09,1.083302e+09,627697116497990
165,2024-03-02,1.556116e+09,1.606666e+09,1.546816e+09,1.588490e+09,1022341212679847
166,2024-04-01,1.771839e+09,1.815851e+09,1.771257e+09,1.814728e+09,510095948524795
167,2024-05-01,1.624075e+09,1.646053e+09,1.504015e+09,1.542602e+09,962670971055422
168,2024-05-31,1.719136e+09,1.768094e+09,1.707484e+09,1.739205e+09,750727086859617

### Index

In [8]:
index = Vnstock().world_index(symbol='DJI', source='MSN')
df = index.quote.history(start='2023-01-01', end='2024-12-31', interval='1D')
df

          time      open      high       low     close     volume
0   2023-01-03  33148.90  33387.52  32850.57  33136.37  358608345
1   2023-01-04  33165.14  33409.10  33033.48  33269.77  383346276
2   2023-01-05  33191.72  33191.72  32812.33  32930.08  342665273
3   2023-01-06  33055.30  33710.66  32997.39  33630.61  365497603
4   2023-01-09  33664.39  33935.11  33487.66  33517.65  327846929
..         ...       ...       ...       ...       ...        ...
350 2024-05-24  39089.23  39220.31  39020.29  39069.59  254833323
351 2024-05-28  39028.99  39028.99  38706.14  38852.86  306719094
352 2024-05-29  38716.28  38716.28  38413.67  38441.54  294723301
353 2024-05-30  38368.35  38493.60  38000.96  38111.48  365274440
354 2024-05-31  38140.26  38719.43  38092.27  38686.32  624927861

[355 rows x 6 columns]

## 3.2. Truy xuất theo id tương ứng symbol

Trong trường hợp mã symbol bạn cần không có sẵn trong danh sách được hỗ trợ, bạn có thể truy xuất dữ liệu theo id của mã đó được tìm kiếm ở mục `II. Tìm kiếm mã niêm yết được hỗ trợ bởi MSN`

In [16]:
# avyufr là symbol_id của USDEUR
from vnstock3.explorer.msn.quote import *

fx = Quote(symbol_id='avyn9c')
fx.history(start='2020-01-01', end='2024-12-31')

           time  open  high   low  close
788  2023-01-09  0.94  0.94  0.93   0.93
789  2023-01-10  0.93  0.93  0.93   0.93
790  2023-01-11  0.93  0.93  0.93   0.93
791  2023-01-12  0.93  0.93  0.92   0.92
792  2023-01-13  0.92  0.93  0.92   0.92
...         ...   ...   ...   ...    ...
1148 2024-05-27  0.92  0.92  0.92   0.92
1149 2024-05-28  0.92  0.92  0.92   0.92
1150 2024-05-29  0.92  0.93  0.92   0.93
1151 2024-05-30  0.93  0.93  0.92   0.92
1152 2024-05-31  0.92  0.92  0.92   0.92

[365 rows x 5 columns]

In [14]:
# c2111 là symbol_id của BTC
crypto = Quote(symbol_id='c2111')
crypto.history(start='2023-01-01', end='2024-12-31', interval='1D')

,time,open,high,low,close,volume
151,2023-01-07,4.283199e+08,4.322763e+08,4.252658e+08,4.312581e+08,366683584499596
152,2023-02-06,5.935724e+08,5.958922e+08,5.810944e+08,5.839921e+08,497714840676542
153,2023-03-08,5.705765e+08,5.730975e+08,5.599665e+08,5.652709e+08,579153104068996
154,2023-04-07,7.167778e+08,7.168581e+08,7.056740e+08,7.134429e+08,352033870634323
155,2023-05-07,7.514686e+08,7.586240e+08,7.242505e+08,7.353336e+08,404848769216116
156,2023-06-06,6.900119e+08,6.901868e+08,6.473251e+08,6.553369e+08,547298164926451
157,2023-07-06,7.830108e+08,7.855193e+08,7.689396e+08,7.762804e+08,317532470791752
158,2023-08-05,7.421963e+08,7.454449e+08,7.348429e+08,7.396449e+08,306212121285052
159,2023-09-04,6.581194e+08,6.636571e+08,6.567853e+08,6.606658e+08,228006623864865
160,2023-10-04,6.998099e+08,7.038534e+08,6.923751e+08,6.978187e+08,290214792906849
161,2023-11-03,9.016337e+08,9.138008e+08,8.751761e+08,8.888289e+08,534193153365211
162,2023-12-03,9.842552e+08,1.009432e+09,9.833220e+08,1.004278e+09,395185865967753
163,2024-01-02,1.075609e+09,1.123823e+09,1.073949e+09,1.123617e+09,468782331596280
164,2024-02-01,1.092553e+09,1.112171e+09,1.076085e+09,1.083302e+09,627697116497990
165,2024-03-02,1.556116e+09,1.606666e+09,1.546816e+09,1.588490e+09,1022341212679847
166,2024-04-01,1.771839e+09,1.815851e+09,1.771257e+09,1.814728e+09,510095948524795
167,2024-05-01,1.624075e+09,1.646053e+09,1.504015e+09,1.542602e+09,962670971055422
168,2024-05-31,1.719136e+09,1.768094e+09,1.707484e+09,1.739205e+09,750727086859617