<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/dev/docs/vnstock3_demo.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Cài đặt

In [ ]:
!pip install git+https://github.com/thinh-vu/vnstock.git@dev

# Khởi động

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [ ]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

# Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock3 import Vnstock

## Auto chấp nhận thoả thuận người dùng

Trong trường hợp bạn sử dụng Vnstock3 trên Google Colab, việc hiển thị thoả thuận người dùng mỗi lần khởi động phiên làm việc có thể khiến bạn phiền lòng, hãy đặt đoạn code này vào notebook để tự động chấp nhận và bỏ qua bước yêu cầu chấp nhận thoả thuận sử dụng.

In [ ]:
import os
if "ACCEPT_TC" not in os.environ:
    os.environ["ACCEPT_TC"] = "tôi đồng ý"

# Truy xuất dữ liệu

## Chứng khoán

In [ ]:
# Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='VN30F1M', source='VCI')

### Listing: Liệt kê danh sách chứng khoán

#### Danh sách tất cả mã CK niêm yết (đơn giản)

In [10]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

#### Liệt kê mã CP theo sàn (đầy đủ)

In [14]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
stock.listing.symbols_by_exchange()

,symbol,id,type,exchange,en_organ_name,en_organ_short_name,organ_short_name,organ_name
0,YTC,8425620,STOCK,UPCOM,Ho Chi Minh City Medical Import Export Joint S...,YTECO,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1,YEG,8424579,STOCK,HSX,Yeah1 Group Corporation,Yeah1 Group,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1
2,YBM,8424470,STOCK,HSX,Yen Bai Industry Mineral Joint Stock Company,Yen Bai Industry Mineral,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3,YBC,8425710,STOCK,UPCOM,YenBai Cement and Minerals Joint Stock Company,YenBai Cement and Minerals,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4,XPH,8425864,STOCK,UPCOM,Hanoi Soap Joint Stock Company,Hanoi Soap,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội
...,...,...,...,...,...,...,...,...
2468,AAS,8425599,STOCK,UPCOM,Smart Invest Securities Joint Stock Company,SmartInvest Securities,Chứng khoán SmartInvest,Công ty Cổ phần Chứng khoán SmartInvest
2469,AAM,8424957,STOCK,HSX,Mekong Fisheries Joint Stock Company,Mekong Fisheries,Thủy sản Mekong,Công ty Cổ Phần Thủy Sản MeKong
2470,AAH,13216673,STOCK,UPCOM,Hop Nhat Joint Stock Company,Hop Nhat Coal,Than Hợp Nhất,Công ty Cổ phần Hợp Nhất
2471,AAA,8424464,STOCK,HSX,An Phat Bioplastics Joint Stock Company,An Phat Bioplastics,An Phát Bioplastics,Công ty Cổ phần Nhựa An Phát Xanh
2472,A32,8425330,STOCK,UPCOM,32 Joint Stock Company,32 Company,Công ty 32,Công ty Cổ phần 32

#### Danh sách mã ngành theo mã icb

In [16]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
151,Viễn thông,Telecommunications,6000,1
152,Tiện ích Cộng đồng,Utilities,7000,1
153,Tài chính,Financials,8000,1
154,Ngân hàng,Banks,8301,1
155,Công nghệ Thông tin,Technology,9000,1

### Quote: Giá chứng khoán

#### Giá lịch sử

In [13]:
df = stock.quote.history(start='2020-01-01', end='2024-12-31')
df

           time    open    high     low   close  volume
0    2020-01-02   877.5   886.3   876.5   886.3   70480
1    2020-01-03   887.1   887.9   879.5   879.5   70389
2    2020-01-06   877.5   883.5   871.6   872.0   83770
3    2020-01-07   873.9   877.8   871.6   875.0   83997
4    2020-01-08   868.0   871.0   863.4   863.7   90489
...         ...     ...     ...     ...     ...     ...
1065 2024-05-06  1256.2  1276.9  1256.2  1270.0  210181
1066 2024-05-07  1273.0  1277.5  1266.2  1276.0  205385
1067 2024-05-08  1273.0  1279.0  1261.3  1279.0  262214
1068 2024-05-09  1277.0  1281.9  1267.1  1269.0  235911
1069 2024-05-10  1274.2  1280.3  1259.0  1270.4  292561

[1070 rows x 6 columns]

In [6]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: VN30F1M
Loại tài sản: derivative

#### Intraday: dữ liệu khớp lệnh

In [11]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='ACB', show_log=False)

                  time    price  volume match_type         id
99 2024-05-10 14:26:42  27600.0     100       Sell  201261720
98 2024-05-10 14:26:42  27600.0   10000       Sell  201261721
97 2024-05-10 14:26:47  27650.0    4800        Buy  201262072
96 2024-05-10 14:26:49  27650.0    4300        Buy  201262129
95 2024-05-10 14:27:09  27650.0    4800        Buy  201263284
..                 ...      ...     ...        ...        ...
4  2024-05-10 14:29:42  27650.0   50000       Sell  201271228
3  2024-05-10 14:29:45  27650.0     500       Sell  201271437
2  2024-05-10 14:29:47  27650.0   11800       Sell  201271548
1  2024-05-10 14:29:51  27700.0    6000        Buy  201271709
0  2024-05-10 14:45:00  27700.0  543000    ATO/ATC  201273008

[100 rows x 5 columns]

In [7]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  27700     553100          10100               0               543000
1  27650     605900         528900           77000                    0
2  27600    1314500         648700          568600                97200
3  27550    1560200         710800          849400                    0
4  27500     871600              0          871600                    0
5  27450       4500              0            4500                    0

### Giao dịch

#### Bảng giá

In [8]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   29500  25700     27600      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   3884050358  STOCK  8424512  ...       27600         9900       27550

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0        81600       27700       648900       27750       462900       27800


  ask_3_volume
0       473800

[1 rows x 36 columns]

In [18]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                             0  \
listing symbol                                                             VCB
        ceiling                                                          98900
        floor                                                            86100
        ref_price                                                        92500
        stock_type                                                       STOCK
        exchange                                                           HSX
        last_trading_date
        listed_share                                                5589091262
        type                                                             STOCK
        id                                                             8424561
        organ_name           Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                92500
match   match_price                                                      92000
        match_vol                                                        66300
        accumulated_volume                                              823400
        accumulated_value                                                75820
        avg_match_price                                           92081.612825
        highest                                                          92700
        lowest                                                           91700
        match_type                                                     unknown
        foreign_sell_volume                                             315090
        foreign_buy_volume                                               41930
        current_room                                                 362441438
        total_room                                                  1676727378
bid_ask bid_1_price                                                      92000
        bid_1_volume                                                     26300
        bid_2_price                                                      91900
        bid_2_volume                                                      1100
        bid_3_price                                                      91800
        bid_3_volume                                                     10200
        ask_1_price                                                      92100
        ask_1_volume                                                      1000
        ask_2_price                                                      92200
        ask_2_volume                                                    151200
        ask_3_price                                                      92300
        ask_3_volume                                                      2100

                                                               1  \
listing symbol                                               ACB
        ceiling                                            29500
        floor                                              25700
        ref_price                                          27600
        stock_type                                         STOCK
        exchange                                             HSX
        last_trading_date
        listed_share                                  3884050358
        type                                               STOCK
        id                                               8424512
        organ_name           Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                  27600
match   match_price                                        27700
        match_vol                                         543000
        accumulated_volume                               4909800
        accumulated_value                                 135430
        avg_match_price                             27583.608294
        highest                                            27700
        lowest                                             27450
        match_type                                       unknown
        foreign_sell_volume                              1555600
        foreign_buy_volume                               1499947
        current_room                                           0
        total_room                                    1165215107
bid_ask bid_1_price                                        27650
        bid_1_volume                                      163200
        bid_2_price                                        27600
        bid_2_volume                                        9900
        bid_3_price                                        27550
        bid_3_volume                                       81600
        ask_1_price                                        27700
        ask_1_volume                                      648900
        ask_2_price                                        27750
        ask_2_volume                                      462900
        ask_3_price                                        27800
        ask_3_volume                                      473800

                                                                           2  \
listing symbol                                                           TCB
        ceiling                                                        51800
        floor                                                          45100
        ref_price                                                      48450
        stock_type                                                     STOCK
        exchange                                                         HSX
        last_trading_date
        listed_share                                              3522510811
        type                                                           STOCK
        id                                                           8424683
        organ_name           Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                              48450
match   match_price                                                    48500
        match_vol                                                    1013800
        accumulated_volume                                           7679300
        accumulated_value                                             370169
        avg_match_price                                         48203.482088
        highest                                                        48800
        lowest                                                         47900
        match_type                                                   unknown
        foreign_sell_volume                                          1066350
        foreign_buy_volume                                           2338741
        current_room                                                     259
        total_room                                                 792071780
bid_ask bid_1_price                                                    48450
        bid_1_volume                                                    2500
        bid_2_price                                                    48400
        bid_2_volume                                                  102000
        bid_3_price                                                    48350
        bid_3_volume                                                    1500
        ask_1_price                                                    48500
        ask_1_volume                                                  242800
        ask_2_price                                                    48550
        ask_2_volume                                                   31900
        ask_3_price                                                    48600
        ask_3_volume                                                   59500

                                                                             3
listing symbol                                                             BID
        ceiling                                                          52900
        floor                                                            46050
        ref_price                                                        49500
        stock_type                                                       STOCK
        exchange                                                           HSX
        last_trading_date
        listed_share                                                5700435900
        type                                                             STOCK
        id                                                             8424583
        organ_name           Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                49500
match   match_price                                                      49050
        match_vol                                                        58700
        accumulated_volume                                              827700
        accumulated_value                                                40799
        avg_match_price                                           49292.014015
        highest                                                          49750
        lowest                                                           48950
        match_type                                                     unknown
        foreign_sell_volume                                             198805
        foreign_buy_volume                                               15310
        current_room                                                 726864324
        total_room                                                  1710130770
bid_ask bid_1_price                                                      49050
        bid_1_volume                                                     11000
        bid_2_price                                                      49000
        bid_2_volume                                                     22100
        bid_3_price                                                      48950
        bid_3_volume                                                      8600
        ask_1_price                                                      49150
        ask_1_volume                                                      2600
        ask_2_price                                                      49200
        ask_2_volume                                                      2000
        ask_3_price                                                      49250
        ask_3_volume                                                      1700